/* Style for rendered Markdown */

:root {
  --white: #D9E0EE;
  --black: #161320;
  --red: #F28FAD;
  --orange: #F8BD96;
  --yellow: #FAE3B0;
  --darker-yellow: #C09A45;
  --green: #ABE9B3;
  --cyan: #89DCEB;
  --blue: #96CDFB;
  --paleblue: #99CDF7;
  --purple: #DDB6F2;
  --brown: #916b53;
  --pink: #F5C2E7;
  --violet: #BB80B3;
  --grey: #575268;

  --darkest: #1A1826;
  --darker: #1E1E2E;
  --dark: #1D1D2F;
  --light: #C9CFFF;
  --lighter-grey: #C3BAC6;
  --light-grey: #988BA2;
  --accent-color: #80CBC4;
  --accent-color-darker: #5BA59E;

  --panel-foreground: #6E6C7E;
  --panel-foreground-active: var(--accent-color);
  --panel-foreground-hover: var(--white);

  --font-face: "Noto Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Roboto Mono", Courier, monospace;
  --font-size: 13px;
  --icon-size: 16px;

  --regular: 400;
  --bolder: 600;

  --scroll-radius: 3px;

  --opacity-0-8: 0.8;
}

#rendered-md, body, th, td {
  background-color: var(--darker) !important;
  font-family: var(--font-face) !important;
}

p, ul, ol, li {
  color: var(--light) !important;
}

strong {
  color: var(--white) !important;
}

hr {
  border: none;
  border-bottom: 1px solid var(--dark) !important;
  margin: 2.5em 0 !important;
}

/* Scrollbars */
::-webkit-scrollbar-thumb {
  background-color: var(--dark) !important;
  border-radius: var(--scroll-radius) !important;
}

/*********************************************************************************
* TITLES
*********************************************************************************/

h1 {
  border-bottom: 1px solid var(--dark) !important;
  font-weight: var(--regular) !important;
}

h2, h3, h4, h5, h6 {
  border-bottom: 0 !important;
  font-weight: var(--regular) !important;
}

/*********************************************************************************
* LINKS
*********************************************************************************/

a {
  color: var(--accent-color) !important;
  text-decoration: underline !important;
}

a:hover {
  text-decoration: underline !important;
}

/* Joplin icon in Joplin link */
.resource-icon {
  background-color: var(--accent-color) !important;
}

/*********************************************************************************
* CODE BLOCK
*********************************************************************************/

pre, .hljs {
  background-color: var(--darkest) !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--light) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

/* Inline code */
.inline-code {
  background-color: transparent !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  color: var(--yellow) !important;
  font-size: 14px !important;
}

/*********************************************************************************
* BLOCKQUOTE
*********************************************************************************/

blockquote {
  background-color: var(--dark) !important;
  padding: 10px !important;
  color: var(--light) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid var(--darkest) !important;
}

/*********************************************************************************
* TABLES
*********************************************************************************/

table {
  border: 0 !important;
}

th {
  border: 0 !important;
  color: var(--light) !important;
  border-bottom: 1px solid var(--light) !important;
}

td {
  border: 0 !important;
  color: var(--light) !important;
  border-bottom: 1px solid var(--dark) !important;
}

/*********************************************************************************
* HIGHLIGHTING
*********************************************************************************/

::selection {
	background-color: var(--accent-color) !important;
  color: var(--dark) !important;
}

mark, mark strong {
  background: var(--yellow) !important;
  color: var(--dark) !important;
}

/* Highlighted searched item */
mark[data-markjs] {
  background-color: var(--blue) !important;
}

/*********************************************************************************
* PLUGINS
*********************************************************************************/

/* SPOILERS (https://github.com/martinkorelic/joplin-plugin-spoilers) */

/* Container for spoiler blocks */
.spoiler-block {
  border: 0 !important;
  border-radius: 0px;
}

/* Container for spoiler title */
#spoiler-block-title {
  font-family: var(--font-face) !important;
  color: var(--light) !important;
  background-color: var(--dark) !important;
  border-radius: 0px;
}

/* Container for spoiler body */
#spoiler-block-body {
  font-family: var(--font-face) !important;
  color: var(--light) !important;
  background-color: var(--dark) !important;
  border-radius: 0px;
}

/* Styling of the spoiler block body */
.summary-content {
  background-color: var(--dark) !important;
}

.summary-title:before {
  color: var(--accent-color) !important;
}

/*********************************************************************************
* PRINT VERSION
*********************************************************************************/

@media print {

  #rendered-md, body, th, td {
    background-color: var(--white) !important;
    font-family: var(--font-face) !important;
  }

  p, ul, ol, li {
    color: var(--dark) !important;
  }
  
  strong {
    color: var(--blue) !important;
  }

  h1 {
    border-bottom: 1px solid var(--light-grey) !important;
    font-weight: var(--bolder) !important;
  }

  h2, h3, h4, h5, h6 {
    border-bottom: 0 !important;
    font-weight: var(--bolder) !important;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--light-grey) !important;
    margin: 2.5em 0 !important;
  }

  a {
    color: var(--accent-color-darker) !important;
    text-decoration: underline !important;
  }

/* Inline code */
.inline-code {
  background-color: transparent !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  color: var(--darker-yellow) !important;
  font-size: 14px !important;
}

pre, .hljs {
  background-color: var(--lighter-grey) !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--dark) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

blockquote {
  background-color: var(--lighter-grey) !important;
  padding: 10px !important;
  color: var(--dark) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid var(--light-grey) !important;
}

}
