/* Style for rendered Markdown */

:root {
  --ctp-macchiato-rosewater: #f4dbd6;
	--ctp-macchiato-flamingo: #f0c6c6;
	--ctp-macchiato-pink: #f5bde6;
	--ctp-macchiato-mauve: #c6a0f6;
	--ctp-macchiato-red: #ed8796;
	--ctp-macchiato-maroon: #ee99a0;
	--ctp-macchiato-peach: #f5a97f;
	--ctp-macchiato-yellow: #eed49f;
  	--ctp-macchiato-green: #a6da95;
	--ctp-macchiato-teal: #8bd5ca;
	--ctp-macchiato-sky: #91d7e3;
	--ctp-macchiato-sapphire: #7dc4e4;
	--ctp-macchiato-blue: #8aadf4;
	--ctp-macchiato-lavender: #b7bdf8;
	--ctp-macchiato-text: #c5cff5;
	--ctp-macchiato-subtext1: #b3bce0;
  	--ctp-macchiato-subtext0: #a1aacb;
	--ctp-macchiato-overlay2: #8f97b7;
	--ctp-macchiato-overlay1: #7d84a2;
	--ctp-macchiato-overlay0: #6c728d;
	--ctp-macchiato-surface2: #5a5f78;
	--ctp-macchiato-surface1: #484c64;
	--ctp-macchiato-surface0: #363a4f;
	--ctp-macchiato-base: #24273a;
	--ctp-macchiato-mantle: #1e2030;
	--ctp-macchiato-crust: #181926;
  --white: #D9E0EE;
  --black: #000000;
  --light: #C9CFFF;
  --lighter-grey: #C3BAC6;
  --light-grey: #988BA2;

	--font-face: "Noto Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Roboto Mono", Courier, monospace;
  --font-size: 13px;
  --icon-size: 16px;

  --regular: 400;
  --bolder: 600;

  --scroll-radius: 3px;

  --opacity-0-8: 0.8;
}

#rendered-md, body, th, td {
  background-color: var(--ctp-macchiato-base) !important;
  font-family: var(--font-face) !important;
}

p, ul, ol, li {
  color: var(--ctp-macchiato-text) !important;
}

strong {
  color: var(--ctp-macchiato-text) !important;
}

hr {
  border: none;
  border-bottom: 1px solid var(--ctp-macchiato-base) !important;
  margin: 2.5em 0 !important;
}

/* Scrollbars */
::-webkit-scrollbar-thumb {
  background-color: var(--ctp-macchiato-base) !important;
  border-radius: var(--scroll-radius) !important;
}

/*********************************************************************************
* TITLES
*********************************************************************************/

h1 {
  border-bottom: 1px solid var(--ctp-macchiato-base) !important;
  font-weight: var(--bolder) !important;
}

h2, h3, h4, h5, h6 {
  border-bottom: 0 !important;
  font-weight: var(--regular) !important;
}

/*********************************************************************************
* LINKS
*********************************************************************************/

a {
  color: var(--ctp-macchiato-rosewater) !important;
  text-decoration: underline !important;
}

a:hover {
  text-decoration: underline !important;
}

/* Joplin icon in Joplin link */
.resource-icon {
  background-color: var(--ctp-macchiato-rosewater) !important;
}

/*********************************************************************************
* CODE BLOCK
*********************************************************************************/

pre, .hljs {
  background-color: var(--ctp-macchiato-mantle) !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--ctp-macchiato-text) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

/* Inline code */
.inline-code {
  background-color: transparent !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  color: var(--ctp-macchiato-yellow) !important;
  font-size: 14px !important;
}

/*********************************************************************************
* BLOCKQUOTE
*********************************************************************************/

blockquote {
  background-color: var(--ctp-macchiato-surface0) !important;
  padding: 10px !important;
  color: var(--light) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid var(--ctp-macchiato-mantle) !important;
}

/*********************************************************************************
* TABLES
*********************************************************************************/

th {
  border: 1px solid var(--ctp-macchiato-text) !important;
  color: var(--ctp-macchiato-text) !important;
  border-bottom: 1px solid var(--ctp-macchiato-text) !important;
}

td {
  border: 1px solid var(--ctp-macchiato-text) !important;
  color: var(--ctp-macchiato-text) !important;
  border-bottom: 1px solid var(--ctp-macchiato-text) !important;
}

/*********************************************************************************
* HIGHLIGHTING
*********************************************************************************/

::selection {
	background-color: var(--ctp-macchiato-lavender) !important;
  color: var(--ctp-macchiato-crust) !important;
}

mark, mark strong {
  background: var(--ctp-macchiato-yellow) !important;
  color: var(--ctp-macchiato-crust) !important;
}

/* Highlighted searched item */
mark[data-markjs] {
  background-color: var(--ctp-macchiato-lavender) !important;
}

/*********************************************************************************
* PLUGINS
*********************************************************************************/

/* SPOILERS (https://github.com/martinkorelic/joplin-plugin-spoilers) */

/* Container for spoiler blocks */
.spoiler-block {
  border: 0 !important;
  border-radius: 0px;
}

/* Container for spoiler title */
#spoiler-block-title {
  font-family: var(--font-face) !important;
  color: var(--ctp-macchiato-text) !important;
  background-color: var(--ctp-macchiato-mantle) !important;
  border-radius: 0px;
}

/* Container for spoiler body */
#spoiler-block-body {
  font-family: var(--font-face) !important;
  color: var(--light) !important;
  background-color: var(--ctp-macchiato-mantle) !important;
  border-radius: 0px;
}

/* Styling of the spoiler block body */
.summary-content {
  background-color: var(--ctp-macchiato-mantle) !important;
}

.summary-title:before {
  color: var(--ctp-macchiato-lavender) !important;
}

/*********************************************************************************
* PRINT VERSION
*********************************************************************************/

@media print {

  #rendered-md, body, th, td {
    /* background-color: var(--white) !important; */
    background-color: #ffffff !important;
    font-family: var(--font-face) !important;
  }

  p, ul, ol, li {
    color: var(--black) !important;
  }

  strong {
    color: var(--black) !important;
  }

 th {
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
  border-bottom: 1px solid var(--black) !important;
  }

  td {
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
  border-bottom: 1px solid var(--black) !important;
  }

  h1 {
    border-bottom: 1px solid var(--black) !important;
    font-weight: var(--bolder) !important;
  }

  h2, h3, h4, h5, h6 {
    border-bottom: 0 !important;
    font-weight: var(--bolder) !important;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--black) !important;
    margin: 2.5em 0 !important;
  }

  a {
    color: var(--ctp-macchiato-red) !important;
    text-decoration: underline !important;
  }

/* Inline code */
.inline-code {
  background-color: #F8F8F8 !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  /* color: var(--ctp-macchiato-yellow) !important; */
  font-size: 14px !important;
}

pre, .hljs {
  background-color: #F8F8F8 !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--ctp-macchiato-crust) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

blockquote {
  background-color: #F8F8F8 !important;
  padding: 10px !important;
  color: var(--ctp-macchiato-crust) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid #E8E8E8 !important;
}

}
