/* Style for rendered Markdown */
:root {
  --ctp-frappe-rosewater: #f2d5cf;
	--ctp-frappe-flamingo: #eebebe;
	--ctp-frappe-pink: #f4b8e4;
	--ctp-frappe-mauve: #ca9ee6;
	--ctp-frappe-red: #e78284;
	--ctp-frappe-maroon: #ea999c;
	--ctp-frappe-peach: #ef9f76;
	--ctp-frappe-yellow: #e5c890;
	--ctp-frappe-green: #a6d189;
	--ctp-frappe-teal: #81c8be;
	--ctp-frappe-sky: #99d1db;
	--ctp-frappe-sapphire: #85c1dc;
	--ctp-frappe-blue: #8caaee;
	--ctp-frappe-lavender: #babbf1;
	--ctp-frappe-text: #c6ceef;
	--ctp-frappe-subtext1: #b5bddc;
	--ctp-frappe-subtext0: #a5acc9;
	--ctp-frappe-overlay2: #949bb7;
	--ctp-frappe-overlay1: #838aa4;
	--ctp-frappe-overlay0: #737891;
	--ctp-frappe-surface2: #62677e;
	--ctp-frappe-surface1: #51566c;
	--ctp-frappe-surface0: #414559;
	--ctp-frappe-base: #303446;
	--ctp-frappe-mantle: #292c3c;
	--ctp-frappe-crust: #232634;
  --white: #D9E0EE;
  --black: #000000;
  --light: #C9CFFF;
  --lighter-grey: #C3BAC6;
  --light-grey: #988BA2;

	--font-face: "Noto Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Roboto Mono", Courier, monospace;
  --font-size: 13px;
  --icon-size: 16px;

  --regular: 400;
  --bolder: 600;

  --scroll-radius: 3px;

  --opacity-0-8: 0.8;
}


#rendered-md, body, th, td {
  background-color: var(--ctp-frappe-base) !important;
  font-family: var(--font-face) !important;
}

p, ul, ol, li {
  color: var(--ctp-frappe-text) !important;
}

strong {
  color: var(--ctp-frappe-text) !important;
}

hr {
  border: none;
  border-bottom: 1px solid var(--ctp-frappe-base) !important;
  margin: 2.5em 0 !important;
}

/* Scrollbars */
::-webkit-scrollbar-thumb {
  background-color: var(--ctp-frappe-base) !important;
  border-radius: var(--scroll-radius) !important;
}

/*********************************************************************************
* TITLES
*********************************************************************************/

h1 {
  border-bottom: 1px solid var(--ctp-frappe-base) !important;
  font-weight: var(--bolder) !important;
}

h2, h3, h4, h5, h6 {
  border-bottom: 0 !important;
  font-weight: var(--regular) !important;
}

/*********************************************************************************
* LINKS
*********************************************************************************/

a {
  color: var(--ctp-frappe-rosewater) !important;
  text-decoration: underline !important;
}

a:hover {
  text-decoration: underline !important;
}

/* Joplin icon in Joplin link */
.resource-icon {
  background-color: var(--ctp-frappe-rosewater) !important;
}

/*********************************************************************************
* CODE BLOCK
*********************************************************************************/

pre, .hljs {
  background-color: var(--ctp-frappe-mantle) !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--ctp-frappe-text) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

/* Inline code */
.inline-code {
  background-color: transparent !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  color: var(--ctp-frappe-yellow) !important;
  font-size: 14px !important;
}

/*********************************************************************************
* BLOCKQUOTE
*********************************************************************************/

blockquote {
  background-color: var(--ctp-frappe-surface0) !important;
  padding: 10px !important;
  color: var(--light) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid var(--ctp-frappe-mantle) !important;
}

/*********************************************************************************
* TABLES
*********************************************************************************/

th {
  border: 1px solid var(--ctp-frappe-text) !important;
  color: var(--ctp-frappe-text) !important;
  border-bottom: 1px solid var(--ctp-frappe-text) !important;
}

td {
  border: 1px solid var(--ctp-frappe-text) !important;
  color: var(--ctp-frappe-text) !important;
  border-bottom: 1px solid var(--ctp-frappe-text) !important;
}

/*********************************************************************************
* HIGHLIGHTING
*********************************************************************************/

::selection {
	background-color: var(--ctp-frappe-lavender) !important;
  color: var(--ctp-frappe-crust) !important;
}

mark, mark strong {
  background: var(--ctp-frappe-yellow) !important;
  color: var(--ctp-frappe-crust) !important;
}

/* Highlighted searched item */
mark[data-markjs] {
  background-color: var(--ctp-frappe-lavender) !important;
}

/*********************************************************************************
* PLUGINS
*********************************************************************************/

/* SPOILERS (https://github.com/martinkorelic/joplin-plugin-spoilers) */

/* Container for spoiler blocks */
.spoiler-block {
  border: 0 !important;
  border-radius: 0px;
}

/* Container for spoiler title */
#spoiler-block-title {
  font-family: var(--font-face) !important;
  color: var(--ctp-frappe-text) !important;
  background-color: var(--ctp-frappe-mantle) !important;
  border-radius: 0px;
}

/* Container for spoiler body */
#spoiler-block-body {
  font-family: var(--font-face) !important;
  color: var(--light) !important;
  background-color: var(--ctp-frappe-mantle) !important;
  border-radius: 0px;
}

/* Styling of the spoiler block body */
.summary-content {
  background-color: var(--ctp-frappe-mantle) !important;
}

.summary-title:before {
  color: var(--ctp-frappe-lavender) !important;
}

/*********************************************************************************
* PRINT VERSION
*********************************************************************************/

@media print {

  #rendered-md, body, th, td {
    /* background-color: var(--white) !important; */
    background-color: #ffffff !important;
    font-family: var(--font-face) !important;
  }

  p, ul, ol, li {
    color: var(--black) !important;
  }

  strong {
    color: var(--black) !important;
  }
  th {
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
  border-bottom: 1px solid var(--black) !important;
  }

  td {
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
  border-bottom: 1px solid var(--black) !important;
  }

  h1 {
    border-bottom: 1px solid var(--black) !important;
    font-weight: var(--bolder) !important;
  }

  h2, h3, h4, h5, h6 {
    border-bottom: 0 !important;
    font-weight: var(--bolder) !important;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--black) !important;
    margin: 2.5em 0 !important;
  }

  a {
    color: var(--ctp-frappe-red) !important;
    text-decoration: underline !important;
  }

/* Inline code */
.inline-code {
  background-color: #F8F8F8 !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  /* color: var(--ctp-frappe-yellow) !important; */
  font-size: 14px !important;
}

pre, .hljs {
  background-color: #F8F8F8 !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--ctp-frappe-crust) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

blockquote {
  background-color: #F8F8F8 !important;
  padding: 10px !important;
  color: var(--ctp-frappe-crust) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid #E8E8E8 !important;
}

}
