/* Style for rendered Markdown */
:root {
  --white: #D9E0EE;
  --black: #000000;
  --light: #C9CFFF;
  --lighter-grey: #C3BAC6;
  --light-grey: #988BA2;

  --font-face: "Noto Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Roboto Mono", Courier, monospace;
  --font-size: 13px;
  --icon-size: 16px;

  --regular: 400;
  --bolder: 600;

  --scroll-radius: 3px;

  --opacity-0-8: 0.8;
}

#rendered-md, body, th, td {
  background-color: #303446 !important;
  font-family: var(--font-face) !important;
}

p, ul, ol, li {
  color: #C6D0F5 !important;
}

strong {
  color: #C6D0F5 !important;
}

hr {
  border: none;
  border-bottom: 1px solid #303446 !important;
  margin: 2.5em 0 !important;
}

/* Scrollbars */
::-webkit-scrollbar-thumb {
  background-color: #303446 !important;
  border-radius: var(--scroll-radius) !important;
}

/*********************************************************************************
* TITLES
*********************************************************************************/

h1 {
  border-bottom: 1px solid #303446 !important;
  font-weight: var(--bolder) !important;
}

h2, h3, h4, h5, h6 {
  border-bottom: 0 !important;
  font-weight: var(--regular) !important;
}

/*********************************************************************************
* LINKS
*********************************************************************************/

a {
  color: #F2D5CF !important;
  text-decoration: underline !important;
}

a:hover {
  text-decoration: underline !important;
}

/* Joplin icon in Joplin link */
.resource-icon {
  background-color: #F2D5CF !important;
}

/*********************************************************************************
* CODE BLOCK
*********************************************************************************/

pre, .hljs {
  background-color: #292C3C !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: #C6D0F5 !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

/* Inline code */
.inline-code {
  background-color: transparent !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  color: #E5C890 !important;
  font-size: 14px !important;
}

/*********************************************************************************
* BLOCKQUOTE
*********************************************************************************/

blockquote {
  background-color: #414559 !important;
  padding: 10px !important;
  color: var(--light) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid #292C3C !important;
}

/*********************************************************************************
* TABLES
*********************************************************************************/

th {
  border: 1px solid #C6D0F5 !important;
  color: #C6D0F5 !important;
  border-bottom: 1px solid #C6D0F5 !important;
}

td {
  border: 1px solid #C6D0F5 !important;
  color: #C6D0F5 !important;
  border-bottom: 1px solid #C6D0F5 !important;
}

/*********************************************************************************
* HIGHLIGHTING
*********************************************************************************/

::selection {
  background-color: #BABBF1 !important;
  color: #232634 !important;
}

mark, mark strong {
  background: #E5C890 !important;
  color: #232634 !important;
}

/* Highlighted searched item */
mark[data-markjs] {
  background-color: #BABBF1 !important;
}

/*********************************************************************************
* PLUGINS
*********************************************************************************/

/* SPOILERS (https://github.com/martinkorelic/joplin-plugin-spoilers) */

/* Container for spoiler blocks */
.spoiler-block {
  border: 0 !important;
  border-radius: 0px;
}

/* Container for spoiler title */
#spoiler-block-title {
  font-family: var(--font-face) !important;
  color: #C6D0F5 !important;
  background-color: #292C3C !important;
  border-radius: 0px;
}

/* Container for spoiler body */
#spoiler-block-body {
  font-family: var(--font-face) !important;
  color: var(--light) !important;
  background-color: #292C3C !important;
  border-radius: 0px;
}

/* Styling of the spoiler block body */
.summary-content {
  background-color: #292C3C !important;
}

.summary-title:before {
  color: #BABBF1 !important;
}

/*********************************************************************************
* PRINT VERSION
*********************************************************************************/

@media print {

  #rendered-md, body, th, td {
    /* background-color: var(--white) !important; */
    background-color: #ffffff !important;
    font-family: var(--font-face) !important;
  }

  p, ul, ol, li {
    color: var(--black) !important;
  }

  strong {
    color: var(--black) !important;
  }
  th {
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
  border-bottom: 1px solid var(--black) !important;
  }

  td {
  border: 1px solid var(--black) !important;
  color: var(--black) !important;
  border-bottom: 1px solid var(--black) !important;
  }

  h1 {
    border-bottom: 1px solid var(--black) !important;
    font-weight: var(--bolder) !important;
  }

  h2, h3, h4, h5, h6 {
    border-bottom: 0 !important;
    font-weight: var(--bolder) !important;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--black) !important;
    margin: 2.5em 0 !important;
  }

  a {
    color: #E78284 !important;
    text-decoration: underline !important;
  }

/* Inline code */
.inline-code {
  background-color: #F8F8F8 !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  /* color: #E5C890 !important; */
  font-size: 14px !important;
}

pre, .hljs {
  background-color: #F8F8F8 !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: #232634 !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

blockquote {
  background-color: #F8F8F8 !important;
  padding: 10px !important;
  color: #232634 !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid #E8E8E8 !important;
}

}
